@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Character)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CastYearLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebutYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentMember)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Character)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CastYearLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebutYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CastMemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CastMemberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CastMemberId })
        </td>
    </tr>
}

</table>
